/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.button {
  border-radius: 6px;
  padding: 10px;
  font-family: 'Roboto';
  font-size: 14px;
  color: #000000;
}
